html {
    height: 100%
}

body{
	background-color: #212121;
	font-family: Helvetica, Arial;
	letter-spacing: .15em;

}

#wrapper{
	display: flex;
	width: 100vw;
	height: 100vh;
	/*background-color: blue;*/
	background-image: url("../img/construction-dark.jpg"); /*no-repeat center center fixed*/
    background-repeat: no-repeat;
    background-size: cover;
}
#content_wrapper{
	align-self: center;
	/*background-color: blue;*/
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: white;
}

h2{
	margin-top: 0;
	color: #EECF52;
	font-size: 2em;
	letter-spacing: .25em;
	/*background-color: red;*/
	width: 60%;
	margin: 0 auto;
	margin-bottom: .5em;
}

h1{
	border: .25em solid white;
	padding: 1.2em;
	width: 80%;
	margin: 0 auto;
}